/* *{
    width: 100%;
} */
header{
    margin-bottom: 60px;
}
.header-div{
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 207, 213);
    padding-top: 100px;
}
.header-btn{
    width: 90px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(249, 156, 171);
    color: rgb(129, 16, 235);
    border: 0;
    font-weight: 600;
}
.header-pic{
    width: 300px;
    
    
}
/* section2 featured-flower-------------- */

.featured-flower-description{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.featured-flower-description > h2{
    margin-bottom: 0;
}
.three-img{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.flower-design-one{
    background-color: rgb(248, 218, 223);
    border-radius: 120px 120px 0 0;
    padding-top: 20px;
    
}
.flower-design-two{
    background-color: rgb(189, 239, 239);
    border-radius: 120px 120px 0 0;
    padding-top: 70px;

}
.flower-design-three{
    background-color: rgb(153, 249, 249);
    border-radius: 120px 120px 0 0;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;

}

.three-img-pink{
    width: 200px;
}
.vajal{
    width: 170px;
}

/* secton 2 hot deal---------------- */

.hot-deal-section{
    background-color: bisque;
    margin-bottom: 100px;
}

.hot-deal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

/* ----------------instagram-section--------- */

.featured-flower-description{
    text-align: center;
}
.four-flower{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    
}
.four-flower-pic{
    width: 200px;
}


/* input section--------------- */
.input-section{
    margin-top: 100px;
}
.latest-deal{
    background-image: url('./Flower Asset/Rectangle 9.png');
    background-position: center;
    background-size: 300px 100px;
    background-repeat: no-repeat;
    background-size: auto 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.latest-deal > h6{
    margin-top: 0;
}

input{
    width: 380px;
    height: 30px;
}

/* bonus section------------ */


.bonus-div{
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 207, 213);
    padding-top: 100px;
}
.bonus-pic{
    height: 300px;
    margin-right: 20px;
}

/* ----------footer--------- */
footer{
    height: 800px;

}
.footer-end{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}
.footer-end > h5{
    margin-top: 0;
    margin-bottom: 0;
}
.footer-span{
    color: brown;
}


